<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
      
    <div class="content">
   	<div class="container">	
   		<div class="row">  		
   		
			<div class="col-md-3 col-lg-3 hidden-xs hidden-sm aside1 fadein-left">
				<div class="profile box-shadow center">
					<div class="overlay"></div>
					<div class="center gavatar">
						<a href="/" class="profile_gavatar"><img class="circle" src="{{ site.gavatar }}"></a>
					</div>
					<div class="address">
						<h5><span class="fa fa-map-marker"></span> Xiamen Fujian, China</h5>
					</div>
					<div class="center profile_desc">
						{{ site.profile_desc }}
					</div>
				</div>
				
				<div class="tag-cloud-text">
					<a href="http://lemonjing.github.io/pages/tags.html" title="标签" class="pjaxlink"><p class="center">标签【点我】</p></a>
				</div>
				<div class="tag-cloud ">	
					<hr>
					<div class="page-tag">
							{% for tag in site.tags %}
								{% if tag[1].size > 3 %}
								<a href="http://lemonjing.github.io/pages/tags.html#{{tag[0]}}" name="{{tag[0]}}" class="pjaxlink"><i class="fa fa-tags"></i>{{ tag[0] }}({{tag[1].size}})</a>
								{% endif %}
							{% endfor %}
					</div>					
				</div>
				<div class="clear"></div>
				<div class="recentcome box-shadow">
	 				<p>最近访客 <i class="fa fa-user"></i></p>
	 				<ul class="ds-recent-visitors" data-num-items="25"></ul>
	 			</div>
	 			<div class="comment box-shadow">
	 				<p>最新评论 <i class="fa fa-comments"></i></p>
	 				<div class="ds-recent-comments"  data-num-items="8" data-show-avatars="1" data-show-time="1" data-show-title="1"  data-show-admin="1" data-excerpt-length="70"></div>
	 			</div>

	 			
	 			<div class="recentuse">
	 					<p>经常出没</p>
	 					<hr>
	 					<ul>
	 						<li><a href = "http://music.163.com/#/user/home?id=63589002">网易云音乐</a></li>
	 						<li><a href = "https://github.com/Lemonjing">GitHub</a></li>
	 						<li><a href = "http://weibo.com/u/1662536394">微博</a></li>
	 						<li><a href = "http://pianke.me/profile/1924980/">片刻</a></li>
		 					<li><a href = "https://www.zhihu.com/people/tao-xiao-xiao-99">知乎</a></li>
		 					<li><a href = "http://www.nowcoder.com/profile/213475">牛客</a></li>
	 					</ul>
	 			</div>
				
				<div class="friendlink">
	 					<p>友情链接</p>
	 					<hr>					
		 				<a href = "https://imjad.cn/">AD's Blog</a></br>
						<a href = "http://zyl.me">ZYL的博客</a></br>
						<a href = "http://mxwu.cn">梦忻屋</a></br>
						<a href = "http://www.weiyanweiyu.cn">微言微语</a></br>
						<a href = "http://jloong.com">楚书业</a></br>
						<a href = "https://hto.io">蔓舞寻樱</a></br>
						<a href = "http://www.xiaokang.info">小康博客</a><br>
						<a href = "http://blog.iov.me">随心说</a></br>
						<a href = "http://czduban.com">以歌。先生</a><br>
						<a href = "http://5mx.net/">冷夜博客</a><br>
						<a href = "http://www.8hao.com.cn/">艳莜日记</a><br>
						<a href = "http://blog.sunxyz.cn/">诸葛扬阳</a><br>
						<a href = "https://lostyou.love/">邻居</a><br>
						<a href = "http://www.kurodown.com/">酷绒站</a>
	 			</div>
				
			</div>
			
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 box-shadow fadein-right aside2">					 		
					<div class="page-content" id="pjax">{{content}}</div>		
			</div>
			


 		</div>	
	</div>
    </div>
    <!--  -->
    <div class="qrcode"></div>
	<div id="header">
   <div id="logo"><h1><a href="http://www.helloweba.com" title="返回helloweba首页">helloweba</a></h1></div>
</div>
<div id="main">
   <h2 class="top_title"><a href="http://www.helloweba.com/view-blog-267.html">页面右侧浮动固定层返回顶部按钮带二维码展示功能</a></h2>
   <div class="demo" style="height:2000px">  
		<br/>
        <p style="font-weight:bold; font-size:16px; text-align:center">请看右侧的浮动层-></p>
        <br/>
		<div class="ad_76090"><script src="/js/ad_js/bd_76090.js" type="text/javascript"></script></div><br/>
   </div>
   
</div>
<div id="footer">
    <p>Powered by helloweba.com  允许转载、修改和使用本站的DEMO，但请注明出处：<a href="http://www.helloweba.com">www.helloweba.com</a></p>
</div>

<div id="floatPanel">
	<div class="ctrolPanel" style="right:150px;">
		<a class="arrow" href="#"><span>顶部</span></a>
		<a class="contact" href="http://www.helloweba.com/gbook.html" target="_blank"><span>反馈</span></a>
		<a class="qrcode" href="#"><span>微信二维码</span></a>
		<a class="arrow" href="#"><span>底部</span></a>
	</div>
	
	<div class="popPanel" style="right:196px;">
		<div class="popPanel-inner">
			<div class="qrcodePanel"><img src="/assets/img/helloweba.jpg" /><p>扫描二维码用手机看文章</p></div>
			<div class="arrowPanel">
				<div class="arrow01"></div>
				<div class="arrow02"></div>
			</div>
		</div>
	</div>
</div>
	<!--  -->
	<div class="profile_social">
		<a class="rss" href="{{ site.rss_url }}" target="_blank"></a>
		<a class="github" href="{{ site.author.github }}"  target="_blank"></a>
		<a class="weibo" href="{{ site.author.weibo }}"  target="_blank"></a>
	</div>
	
    <div id="backtotop">
    		<a href="#"><i class="fa fa-arrow-circle-up"></i></a>
    </div>
    
    <div class="pjax_loading"></div>
    
    {% include footer.html %}

  </body>

</html>